<a href="https://colab.research.google.com/github/krishna295/python_colabs/blob/main/Mathamatical_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Mathamatical operations

In [ ]:
#Multiplication
a = 2
b = 5
c= a*b

print(c)

10

In [ ]:
#Addition
a = 2
b = 5
c= a+b
print(c)

In [ ]:
#Substraction
a = 2
b = 5
c= a-b
print(c)

-3

In [ ]:
#Exponentiation
a = 3
b = 2
c = a**b
print(c)

9

In [ ]:
# Floor division
a = 15
b = 6
c = a//b
print(c)

2

In [ ]:
#Division
a = 6
b = 2
c= a/b
print(c)

3.0

In [ ]:
#Reminder/Modulus
a = 5
b = 2
c = a%b
print(c)

1

# Print 10 numbers

In [4]:
#print 10 numbers
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

# Workshop

** Print multiplication 9 in below format **

9X1=9

..

9x10=90

# Find Even/Odd numbers

In [ ]:
num=int(input("Enter number to check odd or even! "))

if num%2 == 0:
  print(f"{num} is even number")
else:
  print(f"{num} is odd number")

Enter number to check odd or even! 87487398701279584912657
87487398701279584912657 is odd number

# Factorial
The factorial of a number is the product of all the integers from 1 to that number.

For example, the factorial of 6 is 1* 2* 3 *4 *5 *6 = 720. Factorial is not defined for negative numbers, and the factorial of zero is one, 0! = 1.

In [ ]:
#find factorial
#num = int(input("Enter number to find factorial!"))
num = 7
factorial = 1
for i in range(1,num + 1):
  factorial = factorial*i
print(f"The factorial of {num}, is {factorial}")

The factorial of 7, is 5040

# Prime numbers
A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number. 2, 3, 5, 7 etc. are prime numbers as they do not have any other factors.

In [ ]:
#find prime numbers
num = int(input("Enter nmber to check prime! "))
# define a flag variable
flag = False

# prime numbers are greater than 1
if num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            print(num,i)
            flag = True
            # break out of loop
            break

# check if flag is True
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

77 7
77 is not a prime number

# Fibonacci sequence
A **Fibonacci** sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8....

The first two terms are 0 and 1. All other terms are obtained by adding the preceding two terms. This means to say the nth term is the sum of **(n-1)**th and **(n-2)**th term.

In [ ]:
# find Fibonacci sequence

nterms=int(input("How many terms"))
print(f"Fibonacci sequence {nterms} terms")
count = 0
n1, n2 = 0, 1

while count < nterms:
  print(n1)
  nth = n1 + n2
  # update values
  n1 = n2
  n2 = nth
  count += 1

How many terms4
Fibonacci sequence 4 terms
0
1
1
2